<!DOCTYPE html>
<html>
  <head>
    <title>FakeFace Couple</title>
  </head>
  <body>
    <h1>FakeFace Couple APP</h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="src">Husband Image :</label>
      <input type="file" id="src" name="src"><br><br>
      <label for="dst">Wife Image :</label>
      <input type="file" id="dst" name="dst"><br><br>
      <label for="from">Couple Image</label>
      <input type="file" id="from" name="from"><br>
      <br>
      <button type="submit">Swap faces Couple</button>

    </form>
  </body>
</html>
